global_defs {}

vrrp_instance VI_1 {
{% if is_master %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface ens224
    virtual_router_id 51
{% if is_master %}
    priority 110
{% else %}
    priority 101
{% endif %}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1234
    }
    virtual_ipaddress {
        {{ vrp }}
    }
}